*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 90%;
    width: 70%;
    border-width: 1%;
    border: solid black;
    border-radius: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);
    background-color: #F7DDDD;
}

.title{
    position: absolute;
    width: 100%;
    height: 10vw;
    border-width: 1%;
    border-bottom: solid black;
    background-color: #61C2D4;
    border-radius: 5vw;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}