* {
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
}

body {
    color: #F4EDED;
}

.container {
    width: 60vw;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7DDDD;
    border: 2px solid #000000;
    border-radius: 50px;
    font-size: clamp(36px, 4vw, 60px);
}

.title {
    text-align: center;
    padding: 30px;
    background-color: #61C2D4;
    border-radius: inherit;
    border: inherit;
    width: 101%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 1em;
}

.logo-container {
    width: 50%;
    margin: auto;
}

.slogan {
    font-size: 0.625em;
    text-align: center;
    margin: 0px 30px 50px;
}

.button-container {
    padding: 20px;
    flex-wrap: wrap;
    gap: 5vw;
    margin: 50px;
}

/* From Uiverse.io by cssbuttons-io */
.btn {
    min-width: 200px;
    height: 80px;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: #61C2D4;
}

.btn:hover {
    background-color: #4095a5;
}

@media screen and (max-width:768px) {
    .container {
        width: 80vw;
    }

    .logo-container {
        width: 80%;
    }

    .button-container * {
        margin: 10px;
        width: 80%;
    }
}

@media screen and (max-width:425px) {
    .container {
        width: 90vw;
    }

    .logo-container {
        width: 90%;
    }

    .button-container {
        & * {
            margin: 10px;
            width: 80%;
        }
    }
}