body {
    padding: 0;
    margin: 0;
}
.background {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
}

.side-bg {
    background-color: #4095a5;
    height: 100vh;
    width: 24vw;
}

.main-bg {
    background-color: #f4eded;
    height: 100vh;
    width: 76vw;
}

.container {
    background-color: #f7ddde;
    display: flex;
    border: none;
    border-radius: 20px;
    box-shadow: black;
    height: 85vh;
    width: 85vw;
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);
}

.left {
    width: 20%;
    height: 100%;
    background-color: #61c2d4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.title {
    position: relative;
    top: 40%;
    transform: translate(0%, -60%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 16vw;
}

.txt {
    margin: 0;
    padding: 0;
    text-align: start;
}

.right {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 60%;

    & .log-txt {
        margin: 50px auto;
        font-size: 2rem;
    }

    & form {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

        & .user-details {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto;

            & input {
                margin: 10px auto;
                width: 80%;
                height: 3rem;
                font-size: 16px;
                border-radius: 10px;
                border: none;
                cursor: text;
                padding: 10px;
            }
        }

        & input[type="submit"] {
            width: 40%;
            margin: 100px auto;
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: #61c2d4;
            color: white;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                background-color: #4095a5;
            }
        }
    }
}