
header{
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: #61C2D4;
    justify-content: space-between;
    align-items: center;
    flex-shrink: none;
    
    & .nav-container{
        width: 50%;
        display: flex;
        align-items: inherit;
        justify-content: space-between;
    }

    & nav{
        width: 70%;
        display: flex;
        justify-content: space-between;

        & a{
            text-decoration: none;
            color: black;
            font-size: calc(max(1.5vw, 100%));
            /* font-weight: 900; */
        }
    }
}
