body{
    padding: 0;
    margin: 0;
}

.background{
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
}

.side-bg{
    background-color: #4095a5;
    height: 100vh;
    width: 24vw;
}

.main-bg{
    background-color: #f4eded;
    height: 100vh;
    width: 80vw;
}

.container{
    background-color: #f7ddde;
    display: flex;
    border: none;
    border-radius: 20px;
    box-shadow: black;
    height: 85vh;
    width: 85vw;
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);
}

.left{
    width: 20%;
    height: 100%;
    background-color: #61c2d4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.title{
    position: relative;
    top: 40%;
    transform: translate(0%,-60%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 16vw;
}

.right{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 80%;
    row-gap: 50px;
    height: inherit;
    position: relative;
}

.txt{
    margin: 0;
    padding: 0;
    text-align: center;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp-icon{
    width: 25px;
    height: 25px;
    background-color: #00000000;
    position: absolute;
    top: 170px;
    left: 500px;
    border-radius: 100%;
}

.pfp{
    height: 160px;
    width: 160px;
    background-color: #d9d9d9;
    border-radius: 100%;
}

.submit{
    width: 10vw;
    height: 7vh;
    background-color: #61c2d4;
    border-radius: 10px;
    font-size: 25px;
}

.submit:hover{
    background-color: #d4b9ba;
    font-size: 28px;
}