.flex{
    display: flex;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.column{
    flex-direction: column;
}

.jcsa{
    justify-content: space-around;
}

.jcba{
    justify-content: space-between;
}

button:active{
    position: relative;
    top:0.2vw;
    right: 0.2vw;
    box-shadow: 0 0;
}